a{color:#FF0000; }

#enigma_nav_top ul li.current-menu-parent,
#enigma_nav_top ul li.current-menu-item { background-color:#FF0000 !important; }
#enigma_nav_top ul li.current-menu-parent,
#enigma_nav_top ul li.current-menu-item { color:#fff !important; } 
a.dropdown-toggle{ color:#fff; }

#wrapper{
    background: #ffffff;
} 
/*  header contact info section ***/
.header_section{
    background-color:#FF0000;
    color:#fff;
    opacity:0.6;
}

/*btn to top*/
#btn-to-top {
    display: inline-block;
    background-color: #FF0000 !important;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}
/** navbar menus ***/
.navigation_menu{
    background-color: #fff;
    border-top:2px solid #FF0000;
    opacity:0.6;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #FF0000;
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #FF0000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #FF0000;
}

.dropdown-menu {
    background-color: rgba(92, 75, 81, 0.9);
}
/** headings titles css ***/
.enigma_heading_title h3 {
    border-bottom: 4px solid #FF0000;
    color: #3b3b3b;
}
.enigma_heading_title2 h3 {
    border-bottom: 2px solid #FF0000;
    color: #3b3b3b;
}
/** slider css ***/
.carousel-list li {
    background:rgba(92, 75, 81, 0.8);
}

/** service  section css ***/
.enigma_service_iocn{
    border: 4px solid #FF0000;
    background-size: 100% 200%;
    background-color:#FF0000;
    background-image: linear-gradient(to bottom, #FF0000 50%, #fff 50%);
}
.enigma_service_area:hover .enigma_service_iocn i,
.enigma_service_area:focus .enigma_service_iocn i {
    color:#FF0000;
    
}
.enigma_service_area:hover .enigma_service_iocn,
.enigma_service_area:focus .enigma_service_iocn{
    background-position: 0 -100%;
    background-color:#ffffff;
}
.enigma_service_iocn_2 i{
    background: #fff;
    border: 4px solid #FF0000;
}
.enigma_service_iocn_2 i{
    color: #FF0000;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #FF0000 50%);
 }
 .enigma_service_area_2:hover .enigma_service_iocn_2 i,
 .enigma_service_area_2:focus .enigma_service_iocn_2 i{
    background-position: 0 -100%;
    color: #ffffff;
    background-color:#FF0000;
}
/****************portfolio css ********************************************************
********************************************************************************/

.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a {
    background-color: #FF0000;
    border:2px solid #FF0000;
    color:#fff;
}
.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a:hover,
.enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a:focus{
    background-color: #ffffff;
    border:2px solid #FF0000;
    color:#FF0000;
}
.enigma_home_portfolio_caption {
    border-left:1px solid #ccc;
    border-bottom:4px solid #FF0000;
    border-right:1px solid #ccc;
}

.enigma_home_portfolio_caption:hover,
.enigma_home_portfolio_caption:focus{
    background: #FF0000;
}
.enigma_home_portfolio_caption:hover  h3 a ,.enigma_home_portfolio_caption:hover  small,
.enigma_home_portfolio_caption:focus  h3 a ,.enigma_home_portfolio_caption:focus  small{
   color: #ffffff;
}
.img-wrapper:hover .enigma_home_portfolio_caption,
.img-wrapper:focus .enigma_home_portfolio_caption{
 background: #FF0000;
 border-left:1px solid #FF0000;
    border-bottom:4px solid #FF0000;
    border-right:1px solid #FF0000;
}
.img-wrapper:hover .enigma_home_portfolio_caption  h3 a,
.img-wrapper:focus .enigma_home_portfolio_caption  h3 a,
.img-wrapper:hover .enigma_home_portfolio_caption  small,
.img-wrapper:focus .enigma_home_portfolio_caption  small{
 color: #ffffff;
}

.enigma_proejct_button a {
    background-color: #f8504b;
    color: #FFFFFF;
    border: 2px solid #FF0000;
    transition: all 0.4s ease 0s;
}
.enigma_proejct_button a:hover,
.enigma_proejct_button a:focus {
    background-color: #ffffff;
    color: #FF0000;
    border: 2px solid #FF0000;
    text-decoration:none;
    
}


.enigma_carousel-prev, .enigma_carousel-next {
    background-color: #fff;
    border: 2px solid #FF0000;
}
.enigma_carousel-prev:hover, .enigma_carousel-next:hover,
.enigma_carousel-prev:focus, .enigma_carousel-next:focus {
    background-color: #FF0000;
    color:#fff;
}
.enigma_carousel-prev:hover i, .enigma_carousel-next:hover i,
.enigma_carousel-prev:focus i, .enigma_carousel-next:focus i{
    color:#fff;
}
.enigma_carousel-prev i,
.enigma_carousel-next i {
    color: #FF0000;
}

/*** project detail ***/
.enigma_portfolio_detail_pagi li a {
    color: #404040;
    border:2px solid #FF0000;
    text-align:center;
    background-size: 100% 200%;
    background-color: #FF0000;
    background-image: linear-gradient(to bottom, #FF0000 50%, #ffffff 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    
}
.enigma_portfolio_detail_pagi li a:hover,
.enigma_portfolio_detail_pagi li a:focus {
    color: #404040;
    border:2px solid #FF0000;
    background-position: 0 -100%;
    background-color:#ffffff;
}

.enigma_portfolio_detail_pagi li a span{
    color:#fff;
    line-height:35px;
}
.enigma_portfolio_detail_pagi li a:hover span,
.enigma_portfolio_detail_pagi li a:focus span{
    color:#FF0000;
}
.enigma-project-detail-sidebar p small {
    color:#777777;
    
}

.enigma-project-detail-sidebar .launch-enigma-project a {

    color: #ffffff;
    border: 2px solid #FF0000;
    background-size: 100% 200%;
    background-color: #FF0000;
    background-image: linear-gradient(to bottom, #FF0000 50%, #ffffff 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.enigma-project-detail-sidebar .launch-enigma-project a:hover ,
.enigma-project-detail-sidebar .launch-enigma-project a:focus {
    background-color: #ffffff;
    color: #FF0000;
    border: 2px solid #FF0000;
    background-position: 0 -100%;
}

/** gallery css **/

.enigma_gallery_showcase .enigma_gallery_showcase_icons a {
    background-color: #FF0000;
    border:2px solid #FF0000;
    color:#fff;
}

.enigma_gallery_showcase .enigma_gallery_showcase_icons a:hover,
.enigma_gallery_showcase .enigma_gallery_showcase_icons a:focus{
    background-color: #ffffff;
    border:2px solid #FF0000;
    color:#FF0000;
}


/**************** blog css ********************************************************
********************************************************************************/

/** blog thumbnail css **/
.enigma_blog_thumb_wrapper{
    background:#fff;
    border-bottom: 5px solid #FF0000;
    box-shadow: 0 0 6px rgba(0,0,0,.7);

}
.enigma_blog_thumb_wrapper h2 a{
    color:#FF0000;
    transition: all 0.4s ease 0s;
}

.enigma_blog_thumb_wrapper h2:hover a,
.enigma_blog_thumb_wrapper h2:focus a{
    color:#FF0000;

}
.enigma_blog_thumb_date li i{
    color: #FF0000;
}
.enigma_tags a{
    background-size: 100% 200%;
    
    background-image: linear-gradient(to bottom, #edf0f2 50%, #FF0000 50%);
 }

.enigma_tags a:hover,
.enigma_tags a:focus{
    color:#fff;
    background-position: 0 -100%;
    background-color:#FF0000;
}
.enigma_tags a i{
    color:#FF0000;
}
.enigma_tags a:hover i,
.enigma_tags a:focus i{
    color:#fff;
}

.enigma_blog_thumb_wrapper span a i{
    color: #FF0000;
}
.enigma_blog_thumb_wrapper span a {
    color:#555;
    
}.enigma_blog_thumb_footer{
    padding-top:20px;
    padding-bottom:10px;
    border-top:3px solid  #f5f5f5;
}

.enigma_blog_read_btn{
    border: 2px solid #FF0000;
    background-size: 100% 200%;
    background-color:#FF0000;
    background-image: linear-gradient(to bottom, #FF0000 50%, #fff 50%);
   }
.enigma_blog_read_btn i {
    margin-right:5px;
}
.enigma_blog_read_btn:hover,
.enigma_blog_read_btn:focus{
    background-position: 0 -100%;
    color: #FF0000 !important;
    background-color:#ffffff;
}

.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a {
    background-color: #FF0000;
    color: #fff;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}
.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a:hover,
.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a:focus{
    background-color: #ffffff;
    border: 2px solid #FF0000;
    color: #FF0000;
}
/********* Blog Full width css ********/
.enigma_post_date {
    background: #FF0000;
    color: #ffffff;
}
.enigma_blog_comment:hover i, .enigma_blog_comment:hover h6,
.enigma_blog_comment:focus i, .enigma_blog_comment:focus h6{
    color:#FF0000;
} 
.enigma_fuul_blog_detail_padding h2 a{
    color:#FF0000;
}
.enigma_fuul_blog_detail_padding h2  a:hover,
.enigma_fuul_blog_detail_padding h2  a:focus{
    color:#FF0000;
}
/*** blog sidebar css **/
.enigma_recent_widget_post h3 a {
    color:#FF0000;
}
.enigma_sidebar_widget {
    border-left: 3px solid #FF0000;
    border-right: 3px solid #FF0000;
    border-bottom: 3px solid #FF0000;
}
.enigma_sidebar_widget_title{
    background:#FF0000;
}
.enigma_sidebar_link p a:hover , .enigma_sidebar_widget ul li a:hover,
.enigma_sidebar_link p a:focus , .enigma_sidebar_widget ul li a:focus{
    color: #FF0000;
}

.enigma_widget_tags a, .tagcloud a  {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #edf0f2 50%, #FF0000 50%);
 }
.enigma_widget_tags a:hover, .tagcloud a:hover,
.enigma_widget_tags a:focus, .tagcloud a:focus  {
    border: 1px solid #FF0000;
    background-position: 0 -100%;
    color: #fff;
    background-color:#FF0000;
}

/** blog detail **/
.enigma_author_detail_wrapper{
    background: #FF0000;
    padding:15px;
    margin-bottom:40px;
    
}
.enigma_author_detail_wrapper{
    border-left:2px solid #FF0000;
}
/** blog  form input css **/ 
.reply a {
    color: #FF0000;
}
.enigma_con_input_control:focus, .enigma_con_textarea_control:focus,
.enigma_contact_input_control:focus, .enigma_contact_textarea_control:focus {
  border-color: #FF0000;
  -webkit-box-shadow: inset 0 0px 0px #FF0000, 0 0 5px #FF0000;
          box-shadow: inset 0 0px 0px #FF0000, 0 0 5px #FF0000;
}
.enigma_send_button , #enigma_send_button{
    border-color: #FF0000;
    color: #6a6a6a;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #FF0000 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.enigma_send_button:hover , #enigma_send_button:hover,
.enigma_send_button:focus , #enigma_send_button:focus{
    background-position: 0 -100%;
    border: 2px solid #FF0000;
    color: #ffffff;
}



.enigma_blog_pagination {
    background-color: #FFFFFF;  
}
.enigma_blog_pagi a {
    border: 1px solid #dbdbdb !important;
    background-color: #ffffff;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #FF0000 50%);
   -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    color: #777777;
}
.enigma_blog_pagi a:hover, 
.enigma_blog_pagi a:focus, .enigma_blog_pagi a.active {
    background-position: 0 -100%;
    color: #ffffff;
}

/****** Testimonial css *******************************************
****************************************************************/
.enigma_testimonial_area i{
    color:#FF0000;
}
.enigma_testimonial_area img{
    border: 10px solid #FF0000;
}
.pager a{
    background: #fff;
    border: 2px solid #FF0000;
}
.pager a.selected{
    background: #FF0000;
    border: 2px solid #FF0000;
}
/**** Client Css *************************************************
****************************************************************/
.enigma_client_wrapper:hover,.enigma_client_wrapper:focus {
    border: 4px solid #FF0000;

}
.enigma_client_prev, .enigma_client_next {
    background-color: #fff;
    border: 2px solid #FF0000;
}
.enigma_client_prev:hover, .enigma_client_next:hover ,
.enigma_client_prev:focus, .enigma_client_next:focus {
    background-color: #FF0000;
    color:#fff;
}
.enigma_client_prev:hover i, .enigma_client_next:hover i,
.enigma_client_prev:focus i, .enigma_client_next:focus i{
    color:#fff;
}

.enigma_carousel-prev i,
.enigma_carousel-next i {
    color: #FF0000;
}
/**** About us page Css *************************************************
****************************************************************/
.enigma_team_showcase .enigma_team_showcase_icons a {
    background-color: #FF0000;
    border:2px solid #FF0000;
    color:#fff;
}

.enigma_team_showcase .enigma_team_showcase_icons a:hover,
.enigma_team_showcase .enigma_team_showcase_icons a:focus{
    background-color: #ffffff;
    border:2px solid #FF0000;
    color:#FF0000;
}

.enigma_team_caption:hover,
.enigma_team_caption:focus{
    background: #FF0000;
}
.enigma_team_caption:hover  h3 a ,.enigma_team_caption:hover  small,
.enigma_team_caption:focus  h3 a ,.enigma_team_caption:focus  small{
   color: #ffffff;
}

.enigma_team_wrapper:hover .enigma_team_caption,
.enigma_team_wrapper:focus .enigma_team_caption{
 background: #FF0000;
}
.enigma_team_wrapper:hover .enigma_team_caption  h3 ,
.enigma_team_wrapper:hover .enigma_team_caption  small,
.enigma_team_wrapper:focus .enigma_team_caption  h3 ,
.enigma_team_wrapper:focus .enigma_team_caption  small{
 color: #ffffff;
}
/***** Call Out Section *****************************************************************
***************************************************************************************/
.enigma_callout_area {
    background-color: #FF0000;

}
/***** Footer Area Css *****************************************************************
***************************************************************************************/
.enigma_footer_area{
    background: #FF0000;
    border-top: 0px solid #6B6B6B;
}
/***** Contact Info Css *****************************************************************
***************************************************************************************/
.enigma_contact_info li .desc {
    color: #FF0000;
}
/***** Shortcode  Css *****************************************************************
***************************************************************************************/
/*Dropcaps Styles*/
.enigma_dropcape_square span {
    background-color: #FF0000;
    color: #FFFFFF;
}
.enigma_dropcape_simple span {
    color: #FF0000;
}
.enigma_dropcape_circle span {
    background-color: #FF0000;
    color: #FFFFFF;
}
.breadcrumb li a {
color: #FF0000 !important;
}
/** progress bar or nav button css */
.progress-bar {
    background-color: #FF0000 !important;
}
.btn-search{
    background:#FF0000 !important;
}
.nav-pills > li  > a{
    border: 3px solid #FF0000 !important;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #FF0000 50%) !important;
}
.nav-pills > li.active > a,
 .nav-pills > li  > a:hover,
 .nav-pills > li  > a:focus,
 .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    background-color:#FF0000 !important;
    background-image: linear-gradient(to bottom, #FF0000 50%, #FF0000 50%) !important;
}
.nav-stacked > li  > a
{
    border: 1px solid #FF0000 !important;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #FF0000 50%) !important;
 }
 .nav-stacked > li.active > a,
  .nav-stacked > li  > a:hover,
  .nav-stacked > li  > a:focus,
  .nav-stacked > li.active > a:hover,
   .nav-stacked > li.active > a:focus {
    background-color:#FF0000 !important;
    background-image: linear-gradient(to bottom, #FF0000 50%, #FF0000 50%) !important;
}

.navbar-toggle {
background-color: #FF0000 !important;
border: 1px solid #FF0000 !important;
}

.navbar-default .navbar-toggle:hover,
 .navbar-default .navbar-toggle:focus {
background-color: #FF0000 !important;
}
.enigma_blockquote_section blockquote {
border-left: 5px solid #FF0000 ;
}
blockquote {
    border-left: 5px solid #FF0000;
 }
#wp-calendar caption {
background-color:#FF0000;
color: #fff;
}
.enigma_footer_widget_column ul li a ,.enigma_footer_widget_column ul#recentcomments li {color: #f2f2f2;}
.enigma_footer_widget_column ul li a:hover,
.enigma_footer_widget_column ul li a:focus{color: #FF0000;}


.header_section .hd_sec {
    width: 100% !important;
    height: 100% !important;
}

@media(max-width:768px) {
.header_section .hd_sec{
    width: 100% !important;
    height:100% !important;
}
}

@media(max-width:480px){
.header_section .hd_sec {
    width: 100% !important;
    height: 50% !important;
}
}

@media(max-width:320px){
.header_section .hd_sec {
    width: 100% !important;
    height: 66% !important;
}
}